<!-- main -->
<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-8 main-mid">
        <div class="box-main">

          <% if  @role_current_user == [] || @role_current_user.nil? %>
  
          <!-- captian -->
          <% @captain.each do |captain| %>
            <a data-target="#myModal-<%= captain.id %>" data-toggle="modal">
              <div class="left-member">
                <img src="<%= captain.user.pictures %>" alt="" id="ava-member">
              </div>
              <div class="right-member">
                <p style= "color: #ffc107!important;font-size: 16px"> <%= captain.user.fullname %><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                <p style= "font-size: 10px;">Joined date: <%= captain.created_at.strftime('%a %d %b %Y') %></p>

                <p>Gmail: <%= captain.user.email %></p>
                <p>Skype: 135633666</p>
              </div>
            </a>
            <!-- Modal -->
            <div aria-labelledby="myModalLabel" class="modal fade" id="myModal-<%= captain.id %>" role="dialog" tabindex="-1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true">
                        ×
                      </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      Member Detail
                    </h4>
                  </div>
                  <div class="modal-body">
                    <div class="top-detail">
                      <div class="top-detail-left">
                        <img alt="" id="ava-member" src="<%= captain.user.pictures %>">
                      </div>
                      <div class="top-detail-right">
                        <p>
                          <%= captain.user.fullname %>
                        </p>
                        <p>
                          Joined date: <%= captain.created_at.strftime('%a %d %b %Y') %>
                        </p>
                        <p>
                          Gmail: <%= captain.user.email %>
                        </p>
                        <p>
                          Skype: 11122425
                        </p>
                      
                      </div>
                    </div>
                    <div class="bottom-detail">
                        <div class="nav-profile" style="margin-left: 12px;">

                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#home<%= captain.id %>">About</a></li>
                          <li><a data-toggle="tab" href="#menu3<%= captain.id %>">History</a></li>
                        </ul>

                      </div>
                      <div class="tab-content" style="padding-left: 12px;">
                        <div id="home<%= captain.id %>" class="tab-pane fade in active">
                          <h3>About</h3>
                          <p> Béo dang yeu!!! toi la <%= captain.user.fullname %></p>
                        </div>

                        <div id="menu3<%= captain.id %>" class="tab-pane fade">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Join Group</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= captain.created_at %></td>
                                <td><%= captain.group.name %></td>
                              </tr>
                              <tr>
                                <td>2019-10-14 02:52:54 UTC</td>
                                <td>Ruby 03</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Modal -->
          <% end %>
          <!-- end captian -->

          <!-- mentor -->
          <% @mentor.each do |mentor| %>
            <a style= "text-decoration: none" data-target="#myModal-<%= mentor.id %>" data-toggle="modal">
              <div class="left-member">
                <img src="<%= mentor.user.pictures %>" alt="" id="ava-member">
              </div>
              <div class="right-member">

                <p style= "color: #ffc107!important;font-size: 16px"><%= mentor.user.fullname %> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </p>
                <p style= "font-size: 10px;">Joined date: <%= mentor.created_at.strftime('%a %d %b %Y') %></p>

                <p>Gmail: <%= mentor.user.email %></p>
                <p>Skype: 33002625</p>
              </div>
            </a>
            <!-- Modal -->
            <div aria-labelledby="myModalLabel" class="modal fade" id="myModal-<%= mentor.id %>" role="dialog" tabindex="-1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true">
                        ×
                      </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      Member Detail
                    </h4>
                  </div>
                  <div class="modal-body">
                    <div class="top-detail">
                      <div class="top-detail-left">
                        <img alt="" id="ava-member" src="<%= mentor.user.pictures %>">
                      </div>
                      <div class="top-detail-right">
                        <p>
                          <%= mentor.user.fullname %>
                        </p>
                        <p>
                          Joined date: <%= mentor.created_at.strftime('%a %d %b %Y') %>
                        </p>
                        <p>
                          Gmail: <%= mentor.user.email %>
                        </p>
                        <p>
                          Skype: 11122425
                        </p>
                       
                      </div>
                    </div>
                   <div class="bottom-detail">
                        <div class="nav-profile" style="margin-left: 12px;">

                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#home<%= mentor.id %>">About</a></li>
                          <li><a data-toggle="tab" href="#menu3<%= mentor.id %>">History</a></li>
                        </ul>

                      </div>
                      <div class="tab-content" style="padding-left: 12px;">
                        <div id="home<%= mentor.id %>" class="tab-pane fade in active">
                          <h3>About</h3>
                          <p> Béo dang yeu!!! toi la <%= mentor.user.fullname %></p>
                        </div>

                        <div id="menu3<%= mentor.id %>" class="tab-pane fade">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Join Group</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= mentor.created_at.strftime('%a %d %b %Y') %></td>
                                <td><%= mentor.group.name %></td>
                              </tr>
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Modal -->
          <% end %>
          <!-- end mentor -->

          <!-- members -->
          <% @members.each do |member| %>
          <a style= "text-decoration: none" data-target="#myModal-<%= member.id %>" data-toggle="modal">
            <div class="left-member">
              <img src="<%= member.user.pictures %>" alt="" id="ava-member">
            </div>
            <div class="right-member">

              <p style= "font-size: 16px;"><%= member.user.fullname %></p>
              <p style= "font-size: 10px;">Joined date: <%= member.created_at.strftime('%a %d %b %Y') %></p>

              <p>Gmail: <%= member.user.email %></p>
              <p>Skype: 11232323</p>
              <!-- Modal -->
              
              <!-- end Modal -->
            </div>
          </a>
          
          <div aria-labelledby="myModalLabel" class="modal fade" id="myModal-<%= member.id %>" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">
                          ×
                        </span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                        Member Detail
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div class="top-detail">
                        <div class="top-detail-left">
                          <img alt="" id="ava-member" src="<%= member.user.pictures %>">
                        </div>
                        <div class="top-detail-right">
                          <p>
                            <%= member.user.fullname %>
                          </p>
                          <p>
                            Joined date: <%= member.created_at.strftime('%a %d %b %Y') %>
                          </p>
                          <p>
                            Gmail:<%= member.user.email %>
                          </p>
                          <p>
                            Skype: 11122425
                          </p>
                      
                        </div>
                      </div>
                      <div class="bottom-detail">
                          <div class="nav-profile" style="margin-left: 12px;">

                          <ul class="nav nav-tabs">

                            <li class="active"><a data-toggle="tab" href="#home-<%= member.id %>">About</a></li>
                            <li><a data-toggle="tab" href="#menu3-<%= member.id %>">History</a></li>

                          </ul>

                        </div>
                        <div class="tab-content" style="padding-left: 12px;">

                          <div id="home-<%= member.id %>" class="tab-pane fade in active">

                            <h3>About</h3>
                            <p>I love Béo!!! <%= member.user.fullname %></p>
                          </div>


                          <div id="menu3-<%= member.id %>" class="tab-pane fade">

                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Date</th>
                                  <th>Join Group</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><%= member.created_at %></td>
                                  <td><%= member.group.name %></td>
                                </tr>
                               
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal" type="button">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          <!-- end modal-->
            <% end %>
            <!-- end member-->
          <!-- end members -->

          <% else %>
          <!-- captian -->
          <% @captain.each do |captain| %>
            <a data-target="#myModal-<%= captain.id %>" data-toggle="modal">
              <div class="left-member">
                <img src="<%= captain.user.pictures %>" alt="" id="ava-member">
              </div>
              <div class="right-member">
                <p style= "color: #ffc107!important;font-size: 16px"> <%= captain.user.fullname %><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                <p style= "font-size: 10px;">Joined date: <%= captain.created_at.strftime('%a %d %b %Y') %></p>

                <p>Gmail: <%= captain.user.email %></p>
                <p>Skype: 135633666</p>
              </div>
            </a>
            <!-- Modal -->
            <div aria-labelledby="myModalLabel" class="modal fade" id="myModal-<%= captain.id %>" role="dialog" tabindex="-1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true">
                        ×
                      </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      Member Detail
                    </h4>
                  </div>
                  <div class="modal-body">
                    <div class="top-detail">
                      <div class="top-detail-left">
                        <img alt="" id="ava-member" src="<%= captain.user.pictures %>">
                      </div>
                      <div class="top-detail-right">
                        <p>
                          <%= captain.user.fullname %>
                        </p>
                        <p>
                          Joined date: <%= captain.created_at.strftime('%a %d %b %Y') %>
                        </p>
                        <p>
                          Gmail: <%= captain.user.email %>
                        </p>
                        <p>
                          Skype: 11122425
                        </p>
                      
                      </div>
                    </div>
                    <div class="bottom-detail">
                        <div class="nav-profile" style="margin-left: 12px;">

                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#home<%= captain.id %>">About</a></li>
                          <li><a data-toggle="tab" href="#menu3<%= captain.id %>">History</a></li>
                        </ul>

                      </div>
                      <div class="tab-content" style="padding-left: 12px;">
                        <div id="home<%= captain.id %>" class="tab-pane fade in active">
                          <h3>About</h3>
                          <p> Béo dang yeu!!! toi la <%= captain.user.fullname %></p>
                        </div>

                        <div id="menu3<%= captain.id %>" class="tab-pane fade">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Join Group</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= captain.created_at %></td>
                                <td><%= captain.group.name %></td>
                              </tr>
                            
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Modal -->
          <% end %>
          <!-- end captian -->

          <!-- mentor -->
          <% @mentor.each do |mentor| %>
            <a style= "text-decoration: none" data-target="#myModal-<%= mentor.id %>" data-toggle="modal">
              <div class="left-member">
                <img src="<%= mentor.user.pictures %>" alt="" id="ava-member">
              </div>
              <div class="right-member">

                <p style= "color: #ffc107!important;font-size: 16px"><%= mentor.user.fullname %> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </p>
                <p style= "font-size: 10px;">Joined date: <%= mentor.created_at.strftime('%a %d %b %Y') %></p>

                <p>Gmail: <%= mentor.user.email %></p>
                <p>Skype: 33002625</p>
                <div class="drop">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">...
                    <ul class="dropdown-menu">

                      <li><%= link_to  "Remove",  del_member_path(group_id: mentor.group.id, user_id: mentor.user.id), confirm: "Are you sure?" %></li>
                      <li><%= link_to  "Remove Mentor",  del_mentor_path(group_id: mentor.group.id, user_id: mentor.user.id) %></li>
                      <li><%= link_to  "set Captain",  set_captain_path(group_id: mentor.group.id, user_id: mentor.user.id) %></li>

                    </ul>
                </div>
              </div>
            </a>
            <!-- Modal -->
            <div aria-labelledby="myModalLabel" class="modal fade" id="myModal-<%= mentor.id %>" role="dialog" tabindex="-1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true">
                        ×
                      </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      Member Detail
                    </h4>
                  </div>
                  <div class="modal-body">
                    <div class="top-detail">
                      <div class="top-detail-left">
                        <img alt="" id="ava-member" src="<%= mentor.user.pictures %>">
                      </div>
                      <div class="top-detail-right">
                        <p>
                          <%= mentor.user.fullname %>
                        </p>
                        <p>
                          Joined date: <%= mentor.created_at.strftime('%a %d %b %Y') %>
                        </p>
                        <p>
                          Gmail: <%= mentor.user.email %>
                        </p>
                        <p>
                          Skype: 11122425
                        </p>
                       
                      </div>
                    </div>
                   <div class="bottom-detail">
                        <div class="nav-profile" style="margin-left: 12px;">

                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#home<%= mentor.id %>">About</a></li>
                          <li><a data-toggle="tab" href="#menu3<%= mentor.id %>">History</a></li>
                        </ul>

                      </div>
                      <div class="tab-content" style="padding-left: 12px;">
                        <div id="home<%= mentor.id %>" class="tab-pane fade in active">
                          <h3>About</h3>
                          <p> Béo dang yeu!!! toi la <%= mentor.user.fullname %></p>
                        </div>

                        <div id="menu3<%= mentor.id %>" class="tab-pane fade">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Join Group</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= mentor.created_at %></td>
                                <td><%= mentor.group.name %></td>
                              </tr>
                            
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Modal -->
          <% end %>
          <!-- end mentor -->

          <!-- members -->
          <% @members.each do |member| %>
          <a style= "text-decoration: none" data-target="#myModal-<%= member.id %>" data-toggle="modal">
            <div class="left-member">
              <img src="<%= member.user.pictures %>" alt="" id="ava-member">
            </div>
            <div class="right-member">

              <p style= "font-size: 16px;"><%= member.user.fullname %></p>
              <p style= "font-size: 10px;">Joined date: <%= member.created_at.strftime('%a %d %b %Y') %></p>

              <p>Gmail: <%= member.user.email %></p>
              <p>Skype: 11232323</p>
              <div class="drop">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">...
                  <ul class="dropdown-menu">

                    <li><%= link_to  "Remove",  del_member_path(group_id: member.group.id, user_id: member.user.id), :data => {:confirm => 'Are you sure?'} %></li>
                    <li><%= link_to  "Set Mentor",  set_mentor_path(group_id: member.group.id, user_id: member.user.id) %></li>
                    <li><%= link_to  "Set Captain",  set_captain_path(group_id: member.group.id, user_id: member.user.id) %></li>

                  </ul>
              </div>
              <!-- Modal -->
              
              <!-- end Modal -->
            </div>
          </a>
          
          <div aria-labelledby="myModalLabel" class="modal fade" id="myModal-<%= member.id %>" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">
                          ×
                        </span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                        Member Detail
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div class="top-detail">
                        <div class="top-detail-left">
                          <img alt="" id="ava-member" src="<%= member.user.pictures %>">
                        </div>
                        <div class="top-detail-right">
                          <p>
                            <%= member.user.fullname %>
                          </p>
                          <p>
                            Joined date: <%= member.created_at.strftime('%a %d %b %Y') %>
                          </p>
                          <p>
                            Gmail:<%= member.user.email %>
                          </p>
                          <p>
                            Skype: 11122425
                          </p>
                      
                        </div>
                      </div>
                      <div class="bottom-detail">
                          <div class="nav-profile" style="margin-left: 12px;">

                          <ul class="nav nav-tabs">

                            <li class="active"><a data-toggle="tab" href="#home-<%= member.id %>">About</a></li>
                            <li><a data-toggle="tab" href="#menu3-<%= member.id %>">History</a></li>

                          </ul>

                        </div>
                        <div class="tab-content" style="padding-left: 12px;">

                          <div id="home-<%= member.id %>" class="tab-pane fade in active">

                            <h3>About</h3>
                            <p>I love Béo!!! <%= member.user.fullname %></p>
                          </div>


                          <div id="menu3-<%= member.id %>" class="tab-pane fade">

                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Date</th>
                                  <th>Join Group</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><%= member.created_at.strftime('%a %d %b %Y') %></td>
                                  <td><%= member.group.name %></td>
                                </tr>
                          
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal" type="button">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          <!-- end modal-->
            <% end %>
            <!-- end member-->
          <% end %>
        </div>
      </div>

      <div class="col-sm-3 col-lg-4 main-right">
        <div class="form">

          <%= form_for(:member, url: group_members_path) do |f| %>
          <%= f.text_field :email,class: "add",:required => true,placeholder: "Add member this class..." %>
          <%= f.submit "add", class: "add-submit" %>
          <% end %>
        </div>
        <div id="getemail">
        <ul>
          
        </ul>
        </div>
        <div class="box-main">
          <h3 class="card-header" id="monthAndYear"></h3>
          <table class="table table-bordered table-responsive-sm" id="calendar">
            <thead>
              <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
              </tr>
            </thead>

            <tbody id="calendar-body">

            </tbody>
          </table>

          <div class="form-inline">

            <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>

            <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
          </div>
          <br />
          <form class="form-inline">
            <label class="lead mr-2 ml-2" for="month"> Jump To: </label>
            <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
              <option value=0>Jan</option>
              <option value=1>Feb</option>
              <option value=2>Mar</option>
              <option value=3>Apr</option>
              <option value=4>May</option>
              <option value=5>Jun</option>
              <option value=6>Jul</option>
              <option value=7>Aug</option>
              <option value=8>Sep</option>
              <option value=9>Oct</option>
              <option value=10>Nov</option>
              <option value=11>Dec</option>
            </select>


            <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
              <option value=1990>1990</option>
              <option value=1991>1991</option>
              <option value=1992>1992</option>
              <option value=1993>1993</option>
              <option value=1994>1994</option>
              <option value=1995>1995</option>
              <option value=1996>1996</option>
              <option value=1997>1997</option>
              <option value=1998>1998</option>
              <option value=1999>1999</option>
              <option value=2000>2000</option>
              <option value=2001>2001</option>
              <option value=2002>2002</option>
              <option value=2003>2003</option>
              <option value=2004>2004</option>
              <option value=2005>2005</option>
              <option value=2006>2006</option>
              <option value=2007>2007</option>
              <option value=2008>2008</option>
              <option value=2009>2009</option>
              <option value=2010>2010</option>
              <option value=2011>2011</option>
              <option value=2012>2012</option>
              <option value=2013>2013</option>
              <option value=2014>2014</option>
              <option value=2015>2015</option>
              <option value=2016>2016</option>
              <option value=2017>2017</option>
              <option value=2018>2018</option>
              <option value=2019>2019</option>
              <option value=2020>2020</option>
              <option value=2021>2021</option>
              <option value=2022>2022</option>
              <option value=2023>2023</option>
              <option value=2024>2024</option>
              <option value=2025>2025</option>
              <option value=2026>2026</option>
              <option value=2027>2027</option>
              <option value=2028>2028</option>
              <option value=2029>2029</option>
              <option value=2030>2030</option>
            </select></form>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end main -->
